.navigation {
  height: 100px;
  width: 1000px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;

    &__brand {
    width: 300px;
    }

    &__list {
      width: 500px;
      display: flex;
      justify-content: flex-start;
      justify-content: space-around;
      list-style: none;
    }
    &__item {
    font-weight: bold;

  }
}
